sftp-config.json
/less/.csslintrc
/less/.csscomb.json
.idea/.name
.idea/encodings.xml
.idea/GTGamefest.iml
.idea/jsLibraryMappings.xml
.idea/lessc/lessc.xml
.idea/libraries/Angular_ui_router_Module.xml
.idea/libraries/AngularJS_Core.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/webResources.xml
.idea/workspace.xml
php_error_log.log
web.config
