# disable indexing
Options -Indexes
# mod_rewrite
RewriteEngine on
# enforce www
RewriteCond %{HTTP_HOST} ^gtgamefest.com
RewriteRule (.*) http://www.gtgamefest.com/$1 [R=301,L]
# enforce HTTPS on all pages
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# enable html5mode
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]
RewriteRule ^ index.html [L]
