<div ng-cloak ng-show="cncCtrl.account.isLoggedIn()" class="buttonWrapper">
<morphing-button title="Create A New Guild">
    <form class="form morphingButtonForm" name="createGuildForm" ng-submit="guildsCtrl.tryCreateGuild()"
          novalidate>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group" show-errors>
                    <h4>Choose A Guild Name</h4>
                    <input type="text" name="name" placeholder="Guild Name" class="input-small form-control"
                           ng-model="guildsCtrl.createGuildData.name" required/>

                    <p class="help-block" ng-show="createGuildForm.name.$error.required">A name is
                        required.</p>
                </div>
                <div class="form-group">
                    <h4>Select Privacy</h4>
                    <div class="btn-group">
                        <label class="btn btn-info" ng-model="guildsCtrl.createGuildData.joinType" btn-radio="'Public'">Public</label>
                        <label class="btn btn-info" ng-model="guildsCtrl.createGuildData.joinType" btn-radio="'Invite'">Invite Only</label>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h4>Select Games</h4>
                <guild-games gamearray="guildsCtrl.createGuildData.games"></guild-games>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</morphing-button>
</div>
<div class="row well">
    <div class="col-md-offset-2 col-md-4 well">
        <h4>Filter By Name</h4>
        <tags-input ng-model="guildsCtrl.guildNameTags">
        </tags-input>
    </div>
    <div class="col-md-4 well">
        <h4>Filter By Games</h4>
        <tags-input ng-model="guildsCtrl.guildGameTags">
            <auto-complete source="guildsCtrl.loadGames($query)"></auto-complete>
        </tags-input>
    </div>
</div>
        <h2 style="margin-top:50px; margin-bottom:50px;" class="text-center" ng-if="guildsCtrl.isEvent">Teams Participating in Tournaments</h2>
        <infinite-scroller-animated>
            <ul class="grid effect-6" masonry="{transitionDuration: 0}" id="grid" load-images="false" column-width=".grid-sizer" infinite-scroll="guildsCtrl.getMoreGuilds()"
                infinite-scroll-container="'#st-content'" infinite-scroll-disabled="guildsCtrl.busy">
                <div class="grid-sizer"></div>
                <li class="masonry-brick outline-outward eventCard" ng-repeat="guild in guildsCtrl.guildCollection | filter: guildsCtrl.filterGuilds track by $index" on-last-repeat>
                    <div style="position:relative;width:100%; height:100%;">
                        <div style="position:absolute;top:0;bottom:0;right:0;left:0;"
                             ng-click="guildsCtrl.isGlobal ? guildsCtrl.state.go('globalSkeleton.guild',{guildId:guild.id}) : guildsCtrl.state.go('eventSkeleton.guild',{eventId:guildsCtrl.stateParams.eventId, guildId:guild.id})">
                            <h3>{{guild.name}}</h3>
                            <h4>{{guild.members.length}} Members</h4>
                            <h4>Established {{guild.createdDate.format("M[/]D[/]YYYY")}}</h4>
                            <h4>Led by {{guild.captain}}</h4>
                            <div style="position:absolute; bottom:0">
                                <h4>{{guild.events.length}} Events Particiapted In</h4>
                                <h4>{{guild.tournaments.length}} Tournaments Participated In</h4>
                                <h4>{{guild.games.length}} Games Played</h4>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </infinite-scroller-animated>
