.myClass {
  background-color:red;
  font-size:16px;
}

body {
  /*margin-top:15em;*/
  a{
    cursor:pointer;
    color:white;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p {
    color: #F1F1F1;
  }
  color: #F1F1F1;
}

.headerWrapper {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:2000;
}
.loginContainer{
  background:darkgray;
  position:absolute;
  top:0;
  margin-bottom:0px;
  width:100%;
  z-index:9000;
  border-radius:0px;
  .inner{
    max-width:600px;
    display:block;
    margin-left:auto;
    margin-right:auto;
  }
}

.st-menu .subsection {
  &.register {
    height:270px;
  }
  overflow:hidden;
  height:180px;
  margin: 2em 1em 0 1em;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
  &.ng-hide-add-active,
  &.ng-hide-add
  &.ng-hide-remove{
    margin: 2em 1em 0 1em !important;
    display:block !important;
    overflow:hidden;
  }
  &.ng-hide{
    height:0px;
    display:block !important;
    overflow:hidden;
    margin:0;
  }
}

.form-group .help-block {
  font-weight:bold;
   display:none;
 }
.form-group.has-error .help-block {
  display:block;
}

.morphingButtonForm {
  padding:15px 15px 50px 15px;
  background-color: rgb(119, 119, 119)
}
.gameItem{
  min-height:35px;
}

.ns-box.ns-bar {
  &.ns-type-warning{
  background:rgba(221, 135, 4, 0.96);
  }
  &.ns-type-notice{
/*  Not sure this actually needs a color, regular black is fine. */
    /* background: rgba(28, 128, 9, 0.85);*/
  }
  &.ns-type-error{
    background:rgba(114, 9, 9, 0.96);
  }
}
.st-menu small {
  color: rgba(0,0,0,0.4);
  text-shadow: 0 0 1px rgba(0,0,0,0.1);
  font-weight: 300;
}

.cbp-af-header {
  &.globalHeader {
    background-color: #CA6842
  }
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped>tbody tr:nth-child(odd) th {
  background-color: #686868;
}
.st-content input,
.st-menu input {
  border-radius: 2px;
  width: auto;
}

.st-content input{
  width: auto;
  color: #ffffff;
  background-color: #8a8a8a;
  background-image: none;
  //border: 1px solid #8a8a8a;
  //border-radius: 2px;
}
/*.st-content input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}*/
.st-content input::-moz-placeholder {
  color: #e8e8e8;
  opacity: 1;
}
.st-content input:-ms-input-placeholder {
  color: #e8e8e8;
}
.st-content input::-webkit-input-placeholder {
  color: #e8e8e8;
}
.st-content input[disabled],
.st-content input[readonly],
fieldset[disabled]  {
  cursor: not-allowed;
  background-color: #525252;
  opacity: 1;
}