<div>
    <div class="row gamesSection">
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'dota'})" id="gameSelectdota" class="thumbnail"><img src="/img/game_logos/dota-2-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'lol'})" id="gameSelectlol" class="thumbnail"><img src="/img/game_logos/lol-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'sc2'})" id="gameSelectsc2" class="thumbnail"><img src="/img/game_logos/starcraft2-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'csgo'})" id="gameSelectcsgo" class="thumbnail"><img src="/img/game_logos/csgo-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'halo'})" id="gameSelecthalo" class="thumbnail"><img
                src="/img/game_logos/halo3-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'mtg'})" id="gameSelectmtg" class="thumbnail"><img
                src="/img/game_logos/magic-the-gathering-trans.png"/></a>
        </div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'mvc'})" id="gameSelectmvc" class="thumbnail"><img src="/img/game_logos/marvelcapcom-trans.png"/></a>
        </div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'poke'})" id="gameSelectpoke" class="thumbnail"><img src="/img/game_logos/pokemonxy-trans.png"/></a>
        </div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'ptcg'})" id="gameSelectptcg" class="thumbnail"><img src="/img/game_logos/Pokemon_Trading_Card_Game-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'ssb'})" id="gameSelectssb" class="thumbnail"><img src="/img/game_logos/ssbbrawl-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'hs'})" id="gameSelecths" class="thumbnail"><img src="/img/game_logos/Hearthstone_Logo.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'smite'})" id="gameSelectsmite" class="thumbnail"><img src="/img/game_logos/smite-trans.png"/></a></div>
    </div>
    <div class="row">
        <h1 id="chooseHeader" class="text-center">Choose a Game</h1>
    </div>
    <div class="row gamesDirSection">
        <div ui-view autoscroll='false'></div>
    </div>
</div>