<div class="jumbotron">
    <img class="largeBottommargin" src="/img/gt_galaga_text.png" style="width:100%;">

    <h2 class="text-center largeBottomMargin">April 19th-20th.</h2>

    <p class="lead text-center largeBottomMargin">Gamefest brings together the Tech, Atlanta, and Southeast gaming and
        eSports communities for a
        semesterly LAN event of epic proportions. With over 800 attendees from all over the region, Gamefest represents
        one of the largest gaming experiences in the Southeast.</p>

    <p class="text-center smallBottomMargin">Free to attend and play, $15 to compete.</p>
    <h4 class="text-center" style="color:#999">You do not need to be a member of the Georgia Tech community to attend,
        but you must be
        physically present to participate. This is a bring-your-own-computer (and Ethernet cable!) event.</h4>
</div>
<hr class="hidden-xs">
<div class="row">
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/halo3-trans.png"/></div>
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/lol-trans.png"/></div>
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/starcraft2-trans.png"/></div>
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/ssbbrawl-trans.png"/></div>
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/dota-2-trans.png"/></div>
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/pokemonxy-trans.png"/></div>
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/marvelcapcom-trans.png"/></div>
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/csgo-trans.png"/></div>
    <div class="col-md-4 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/magic-the-gathering-trans.png"/></div>
    <div class="col-md-5 col-md-offset-1 col-sm-6 hidden-xs"><img class="imageFit" src="../img/game_logos/Hearthstone_Logo.png"/></div>
    <div class="col-md-5 col-md-offset-1 col-sm-9 col-sm-offset-3 hidden-xs"><img class="imageFit" src="../img/game_logos/smite-trans.png"/></div>
</div>
<hr>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="row text-center">
            <address>
                Klaus Advanced Computing Building<br>
                266 Ferst Drive<br>
                Atlanta, GA 30332-0765<br>
            </address>
        </div>
        <div class="row">
            <iframe width="100%" height="400em" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                    src="https://maps.google.com/maps/ms?msa=0&amp;msid=214928445888742675726.0004eade95b8d1a08e15f&amp;ie=UTF8&amp;t=p&amp;ll=33.776008,-84.397273&amp;spn=0.014269,0.018282&amp;z=15&amp;output=embed"></iframe>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="row text-center">
            <address>
                Clough Undergraduate Learning Commons<br/>
                266 Fourth St. NW<br/>
                Atlanta, GA 30332-0001<br/>
            </address>
        </div>
        <div class="row"><img src="/img/campusmap.png" alt="Campus Map" style="max-height: 400px; padding-left:40px;">
        </div>
    </div>
</div>