<div class="row" style="margin-bottom:40px;">
    <div class="col-md-8">
        <h1 class="text-center">{{tourCtrl.tour.game.name}} - {{tourCtrl.tour.tournamentType.name}} <span ng-if="tourCtrl.tour.details.name != undefined">: {{tourCtrl.tour.details.name}}</span>
        </h1>
    </div>
    <div class="col-md-4">
        <div time-editor time-end="tourCtrl.tour.details.timeEnd" timestart="tourCtrl.tour.details.timeStart" iseditable="tourCtrl.isAdmin()"
             starteditable="false" horizontal="true"></div>
        <h4>Location: {{tourCtrl.tour.details.location || "TBD"}}</h4>
    </div>
</div>
<div style="height:58px; width:100%">
    <div class="tabs tabs-style-underline">
        <nav>
            <ul>
                <li ui-sref-active="tab-current"><a ui-sref="eventSkeleton.tournament.roster">Roster</a></li>
                <li ui-sref-active="tab-current"><a ui-sref="eventSkeleton.tournament.rules">Rules</a></li>
                <li><a>Prizes</a></li>
                <li><a>Streams and Servers</a></li>
            </ul>
        </nav>
    </div>
</div>
<div ui-view>
</div>
