.myClass {
  background-color: red;
  font-size: 16px;
}
body {
  /*margin-top:15em;*/
  color: #F1F1F1;
}
body a {
  cursor: pointer;
  color: white;
}
body .h1,
body .h2,
body .h3,
body .h4,
body .h5,
body .h6,
body h1,
body h2,
body h3,
body h4,
body h5,
body h6,
body p {
  color: #F1F1F1;
}
body .well {
  border: none;
  background-color: #636363;
}
.headerWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}
.loginContainer {
  background: darkgray;
  position: absolute;
  top: 0;
  margin-bottom: 0px;
  width: 100%;
  z-index: 9000;
  border-radius: 0px;
}
.loginContainer .inner {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.st-menu .subsection {
  overflow: hidden;
  height: 180px;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}
.st-menu .subsection.register {
  height: 270px;
}
.st-menu .subsection.ng-hide-add-active,
.st-menu .subsection.ng-hide-add .st-menu .subsection.ng-hide-remove {
  display: block !important;
  overflow: hidden;
}
.st-menu .subsection.ng-hide {
  height: 0px !important;
  display: block !important;
  overflow: hidden;
  margin: 0;
}
.st-menu .subsection.myEvents {
  padding-left: 40px;
}
.st-menu .subsection.myEvents li .fa-li {
  top: 35%;
}
.menuItemContent {
  margin: 2em 1em 0 1em;
}
.form-group .help-block {
  font-weight: bold;
  display: none;
}
.form-group.has-error .help-block {
  display: block;
}
.morphingButtonForm {
  padding: 15px 15px 50px 15px;
  background-color: #777777;
}
.gameItem {
  min-height: 35px;
}
.ns-box.ns-bar.ns-type-warning {
  background: rgba(221, 135, 4, 0.96);
}
.ns-box.ns-bar.ns-type-notice {
  /*  Not sure this actually needs a color, regular black is fine. */
  /* background: rgba(28, 128, 9, 0.85);*/
}
.ns-box.ns-bar.ns-type-error {
  background: rgba(114, 9, 9, 0.96);
}
.st-menu small {
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  font-weight: 300;
}
.cbp-af-header.globalHeader {
  background-color: #ca6842;
}
.table-striped tbody tr:nth-child(odd) td,
.table-striped > tbody tr:nth-child(odd) th {
  background-color: #686868;
}
.st-content input,
.st-menu input {
  border-radius: 2px;
  width: auto;
}
.st-menu a {
  text-decoration: none;
}
.st-menu .siteSwitcher {
  /*margin: 0em 1em 1em 2.8em;*/
}
.st-menu .siteSwitcher h3 {
  padding: 0.5em;
}
.st-menu .siteSwitcher:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.st-content input {
  width: auto;
  color: #ffffff;
  background-color: #8a8a8a;
  background-image: none;
}
/*.st-content input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}*/
.st-content input::-moz-placeholder {
  color: #e8e8e8;
  opacity: 1;
}
.st-content input:-ms-input-placeholder {
  color: #e8e8e8;
}
.st-content input::-webkit-input-placeholder {
  color: #e8e8e8;
}
.st-content input[disabled],
.st-content input[readonly],
fieldset[disabled] {
  cursor: not-allowed;
  background-color: #525252;
  opacity: 1;
}
#loading-bar .bar {
  background: #2ECC71;
  height: 3px;
}
#loading-bar .peg {
  height: 3px;
}
.st-content .has-warning input {
  border-color: #8a6d3b;
}
.st-content .has-warning input:focus {
  border-color: #66512c;
}
.st-content .has-error input {
  border-color: #a94442;
}
.st-content .has-error input:focus {
  border-color: #843534;
}
.st-content .has-success input {
  border-color: #3c763d;
}
.st-content .has-success input:focus {
  border-color: #2b542c;
}
.eventButton .morph-button-inflow-1 {
  width: 600px;
}
.smartTable tr.linkMask {
  cursor: pointer;
}
