.myClass {
  background-color: red;
  font-size: 16px;
}
body {
  margin-top: 15em;
}
body a {
  cursor: pointer;
}
/*
.headerWrapper {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:10000;
}*/
