<div>
    <div class="row" style="margin-bottom:40px;">
        <div class="col-md-12 generalRulesTabs">
            <h1 class="text-center" style="margin-bottom:35px">General Rules</h1>
            <tabset justified="true">
                <tab heading="Ground Rules">
                    <ul>
                        <li>Each participant must follow the instructions from Admins and Sudo, security guards, GTPD
                            and any emergency personnel (even if these instructions go against the tournament rules.)
                        </li>
                        <li> Alcohol and drugs in any form are not allowed. Intoxicated and unruly individuals will not
                            be allowed onto the premises.
                        </li>
                        <li>You may not bring any high watt consuming or heat producing appliances.</li>
                        <li>Do not remove furniture from room without admin approval.</li>
                        <li>Notify Admins about damages and/or malfunctions.</li>
                        <li>Throw all trash into proper disposal containers, notify admins of spills and other
                            dangers.
                        </li>
                        <li>All connected computers and devices will abide by the Georgia Tech Computer and Network
                            Usage and Security Policy http://lawn.gatech.edu/policy/index.html
                        </li>
                    </ul>
                </tab>
                <tab heading="Tournament General Rules">
                    <ul>
                        <li>All players must be physically present to advance to finals and be awarded prizes.</li>
                        <li>Bring all disputes, questions and technical issues to Admins.</li>
                        <li>Admins (not staff) have final say, rules subject to change.</li>
                        <li>Teams will be allowed to substitute players only with admin approval.</li>
                        <li>All team members must have registered and paid before joining the tournament.</li>
                        <li>All teams must notify the admin of attendance. Team leaders are responsible of making sure
                            his team is in the bracket at the start of the tournament.
                        </li>

                    </ul>
                </tab>
            </tabset>
        </div>
    </div>
    <div class="row gamesSection">
        <div class="col-md-3"><a ui-sref="dota" class="thumbnail"><img src="/img/game_logos/dota-2-trans.png"/></a></div>
        <div class="col-md-3"><a style="padding-top:20px;" ui-sref="lol" class="thumbnail"><img src="/img/game_logos/lol-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="sc2" class="thumbnail"><img src="/img/game_logos/starcraft2-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="csgo" class="thumbnail"><img src="/img/game_logos/csgo-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="halo" class="thumbnail"><img style="margin-top:50px;"
                                                                       src="/img/game_logos/halo3-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="mtg" class="thumbnail"><img style="margin-top:20px;"
                                                                      src="/img/game_logos/magic-the-gathering-trans.png"/></a>
        </div>
        <div class="col-md-3"><a ui-sref="mvc" class="thumbnail"><img src="/img/game_logos/marvelcapcom-trans.png"/></a>
        </div>
        <div class="col-md-3"><a ui-sref="poke" class="thumbnail"><img src="/img/game_logos/pokemonxy-trans.png"/></a>
        </div>
        <div class="col-md-3"><a ui-sref="ptcg" class="thumbnail"><img src="/img/game_logos/Pokemon_Trading_Card_Game-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="ssb" class="thumbnail"><img src="/img/game_logos/ssbbrawl-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="hs" class="thumbnail"><img src="/img/game_logos/Hearthstone_Logo.png"/></a></div>
    </div>
    <div class="row gamesDirSection">
        <div ui-view></div>
    </div>
</div>