<div>
    <div class="row gamesSection">
        <div class="col-md-3"><a ui-sref="dota" class="thumbnail"><img src="/img/gameThumbs/dota2Thumb.jpg"/></a></div>
        <div class="col-md-3"><a ui-sref="lol" class="thumbnail"><img src="/img/gameThumbs/lolThumb.jpg"/></a></div>
        <div class="col-md-3"><a ui-sref="sc2" class="thumbnail"><img src="/img/gameThumbs/sc2Thumb.jpg"/></a></div>
        <div class="col-md-3"><a ui-sref="csgo" class="thumbnail"><img src="/img/game_logos/csgo-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="halo" class="thumbnail"><img style="margin-top:50px;" src="/img/game_logos/halo3-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="mtg" class="thumbnail"><img style="margin-top:20px;" src="/img/game_logos/magic-the-gathering-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="mvc" class="thumbnail"><img src="/img/game_logos/marvelcapcom-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="poke" class="thumbnail"><img src="/img/game_logos/pokemonxy-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="ptcg" class="thumbnail"><img src="/img/game_logos/pokemonxy-trans.png"/></a></div>
        <div class="col-md-3"><a ui-sref="ssb" class="thumbnail"><img src="/img/game_logos/ssbbrawl-trans.png"/></a></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 lead">
            <h1 id="eventRules" class="text-center">Event Rules</h1>
            <ul>
                <li>All players must be physically present to advance to finals and awarded prizes.</li>
                <li>Bring all disputes, questions and technical issues to Admins.</li>
                <li>Admins (not staff) have final say; rules subject to change.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div ui-view></div>
    </div>
</div>