<div>
    <div class="row gamesSection">
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'dota'})" class="thumbnail"><img src="/img/game_logos/dota-2-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'lol'})" class="thumbnail"><img src="/img/game_logos/lol-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'sc2'})" class="thumbnail"><img src="/img/game_logos/starcraft2-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'csgo'})" class="thumbnail"><img src="/img/game_logos/csgo-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'halo'})" class="thumbnail"><img
                src="/img/game_logos/halo3-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'mtg'})" class="thumbnail"><img
                src="/img/game_logos/magic-the-gathering-trans.png"/></a>
        </div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'mvc'})" class="thumbnail"><img src="/img/game_logos/marvelcapcom-trans.png"/></a>
        </div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'poke'})" class="thumbnail"><img src="/img/game_logos/pokemonxy-trans.png"/></a>
        </div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'ptcg'})" class="thumbnail"><img src="/img/game_logos/Pokemon_Trading_Card_Game-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'ssb'})" class="thumbnail"><img src="/img/game_logos/ssbbrawl-trans.png"/></a></div>
        <div class="col-md-1 col-sm-3 col-xs-3"><a ui-sref="gamedir({gameId: 'hs'})" class="thumbnail"><img src="/img/game_logos/Hearthstone_Logo.png"/></a></div>
    </div>
    <div class="row gamesDirSection">
        <div ui-view autoscroll='false'></div>
    </div>
</div>