<h2>Saturday</h2>
<div class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" class="table table-condensed table-bordered scheduleTable">
        <thead>
        <tr>
            <th>Location</th>

            <th colspan="3" class="header">Klaus Lower</th>

            <th colspan="3" class="header">Klaus Upper</th>

            <th colspan="3" class="header">Klaus Atrium</th>

            <th colspan="5" class="header">CULC</th>
        </tr>
        <tr>
            <th class="header">Room</th>

            <th class="header">1443</th>

            <th class="header">1447</th>

            <th class="header">1456</th>

            <th class="header">2443</th>

            <th class="header">2447</th>

            <th class="header">2456</th>

            <th class="header">Atrium</th>

            <th class="header">1116 E</th>

            <th class="header">1116 W</th>

            <th class="header">155</th>

            <th class="header">144</th>

            <th class="header">152</th>

            <th class="header">127</th>

            <th class="header">131</th>
        </tr>
        </thead>
        <tbody>
        <tr>


        </tr>

        <tr>

            <td class="header timeHeader">12:00</td>

            <td colspan="6" rowspan="2">Setup/Free Play</td>

            <td rowspan="2">Registration</td>

            <td rowspan="2">Setup</td>

            <td colspan="6" rowspan="2">Setup/Free Play</td>

        </tr>

        <tr>

            <td class="header timeHeader">13:00</td>

        </tr>

        <tr>

            <td class="header timeHeader">14:00</td>
            <td rowspan="11">Tech Talks (TBA)</td>

            <td rowspan="11">LoL SR Overflow <br><br> Community Events</td>

            <td rowspan="11">LoL ARAM <br><br> LoL SR Overflow</td>

            <td colspan="3" rowspan="11">LoL SR</td>

            <td rowspan="11">Sponsor Booths (TBA)</td>

            <td rowspan="8">Halo 3 <br> 2v2, 4v4</td>

            <td rowspan="11">SSB <br> Brawl/Melee 1v1</td>


            <td rowspan="11">Starcraft II <br> 1v1, 2v2 <br><br> DOTA 2 Overflow</td>

            <td rowspan="11">DOTA 2</td>

            <td rowspan="11">Pokemon X/Y <br><br> Board Games Freeplay</td>

            <td colspan="2" rowspan="11">Magic the Gathering <br> Booster Draft</td>
        </tr>

        <tr>

            <td class="header timeHeader">15:00</td>

        </tr>

        <tr>

            <td class="header timeHeader">16:00</td>

        </tr>

        <tr>

            <td class="header timeHeader">17:00</td>

        </tr>

        <tr>

            <td class="header timeHeader">18:00</td>

        </tr>

        <tr>

            <td class="header1 timeHeader">19:00</td>

        </tr>

        <tr>

            <td class="header1 timeHeader">20:00</td>


        </tr>
        <tr>

            <td class="header1 timeHeader">21:00</td>

        </tr>

        <tr>

            <td class="header1 timeHeader">22:00</td>
            <td>Teardown</td>
        </tr>

        <tr>

            <td class="header1 timeHeader">23:00</td>
            <td rowspan="3">Gear Storage</td>
        </tr>

        <tr>

            <td class="header1 timeHeader">24:00</td>

        </tr>

        <tr>

            <td class="header1 timeHeader">01:00+</td>
            <td class="header1">Teardown</td>
            <td colspan="5" class="header1">Teardown/Freeplay</td>
            <td colspan="1" class="header1">Teardown</td>
            <td colspan="6" class="header1">Teardown/Freeplay</td>
        </tr>

        </tbody>

    </table>
</div>
<h2>Sunday</h2>
<div class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" class="table table-condensed table-bordered scheduleTable">
        <thead>
        <tr>

            <th>Location</th>

            <th colspan="3" class="header">Klaus Lower</th>

            <th colspan="3" class="header">Klaus Upper</th>

            <th colspan="3" class="header">Klaus Atrium</th>

            <th colspan="5" class="header">CULC</th>

        </tr>

        <tr>

            <th class="header">Room</th>

            <th class="header">1443</th>

            <th class="header">1447</th>

            <th class="header">1456</th>

            <th class="header">2443</th>

            <th class="header">2447</th>

            <th class="header">2456</th>

            <th class="header">Atrium</th>

            <th class="header">1116 E</th>

            <th class="header">1116 W</th>

            <th class="header">Atrium</th>

            <th class="header">144</th>

            <th class="header">152</th>

            <th class="header">127</th>

            <th class="header">131</th>

        </tr>
        </thead>
        <tbody>
        <tr>

            <td class="header timeHeader">11:00</td>

            <td>Setup</td>

            <td colspan="5">Setup/Free Play</td>

            <td>Registration</td>

            <td rowspan="7">Gear Storage</td>

            <td colspan="7">Setup/Free Play</td>


        </tr>

        <tr>

            <td class="header timeHeader">12:00</td>
            <td rowspan="6">Tech Talks (TBA)</td>

            <td rowspan="6" colspan="2">LoL Freeplay</td>

            <td rowspan="6">CS:GO 5v5</td>

            <td rowspan="6">Finals Team 1 <br><br> PC Freeplay</td>

            <td rowspan="6">Finals Team 2 <br><br> PC Freeplay</td>

            <td rowspan="6">Marvel vs Capcom 1v1</td>

            <td rowspan="6">Sponsor Booths (TBA)</td>

            <td rowspan="6"> PC Finals Viewing</td>

            <td rowspan="6">MMO Freeplay</td>

            <td rowspan="6">Community Events <br><br> Board Games Freeplay</td>

            <td rowspan="6">Board Games Freeplay</td>

            <td rowspan="6">Pokemon TCG</td>
        </tr>

        <tr>

            <td class="header timeHeader">13:00</td>

        </tr>

        <tr>

            <td class="header timeHeader">14:00</td>

        </tr>

        <tr>

            <td class="header timeHeader">15:00</td>

        </tr>

        <tr>

            <td class="header timeHeader">16:00</td>

        </tr>

        <tr>

            <td class="header1 timeHeader">17:00</td>

        </tr>

        <tr>

            <td class="header1 timeHeader">17:30</td>
            <td colspan="14" class="header">Teardown</td>
        </tr>

        </tbody>

    </table>
</div>