<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Team Fortress 2</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">esports02.cc.gatech.edu:27015</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Counter-Strike: Global Offensive</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">esports02.cc.gatech.edu:27025</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Other</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Minecraft: esports01.cc.gatech.edu:25566 (Feed The Beast)</li>
                    <li class="list-group-item">Starbound: esports01.cc.gatech.edu:27015</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Mumble</h3>
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">esports02.cc.gatech.edu:64738</li>
                </ul>
            </div>
        </div>
    </div>
</div>