<button type="button" ng-click="openCreateTeam()" class="btn btn-info pull-right">Create Team</button>
<table ng-table="tableParams" show-filter="true" class="table table-hover">
<!--    <thead>
    <tr>
        <th>Team Name</th>
        <th>Game</th>
        <th>Description</th>
    </tr>
    </thead>-->
    <tbody>
    <tr ng-repeat="team in $data" ng-click="goToTeam(team.ID)" style="cursor:pointer" class="animate-repeat">
        <td data-title="'Team Name'" filter="{'name':'text'}">{{team.name}}</td>
        <td data-title="'Game'">{{team.game}}</td>
        <td data-title="'Description'">{{team.des}}</td>
    </tr>
    </tbody>
</table>
<img style="margin-left:35%;" ng-hide="teams != undefined" src="/img/loading-cylon-red.svg" width="256" height="32" alt="Loading..."/>