<div class="row">
    <div ng-repeat="tour in tournaments" class="col-md-3">
        <a ui-sref="tourDetail({gameId: tour.jsonName, tourId:tour.Id})" class="thumbnail tourneyThumb">
            <img src="{{tour.logo}}">
            <div class="caption">
                <h2 class="tourneyName">{{tour.Name}}</h2>
                <p>Players: {{tour.playerCount}}</p>
                <p>Teams: {{tour.teamCount}}</p>
                <p ng-switch on="tour.isPlaying">Status:
                <strong ng-switch-when="0">Open <i class="glyphicon glyphicon-off" style="color:green;"></i></strong>
                <strong ng-switch-when="1">Rosters Closed <i class="glyphicon glyphicon-off" style="color:darkorange;"></i></strong>
                <strong ng-switch-when="2">In-Progress <i class="glyphicon glyphicon-off" style="color:deepskyblue;"></i></strong>
                <strong ng-switch-when="3">Completed <i class="glyphicon glyphicon-off" style="color:red;"></i></strong>
                </p>
            </div>
        </a>
    </div>
</div>