<table ng-table="tableParams" show-filter="true" class="table table-hover">
    <tbody>
    <tr ng-repeat="user in $data" ng-click="goToUser(user.id)" style="cursor:pointer" class="animate-repeat">
        <td data-title="'Alias'" filter="{'alias':'text'}">{{user.alias}}</td>
        <td data-title="'Steam Tag'">{{user.steam}}</td>
        <td data-title="'Xbox Tag'">{{user.xbox}}</td>
        <td data-title="'IGN'">{{user.ign}}</td>
        <td data-title="'LoL Tag'">{{user.lol}}</td>
        <td data-title="'Battle.net Tag'">{{user.bn}}</td>
        <td ng-show="admin" data-title="'Email'" filter="{'email':'text'}">{{user.email}}</td>
        <td ng-show="admin" data-title="'PW Attempt'">{{user.attempt}}</td>
        <td ng-show="admin" data-title="'Locktime'">{{user.locktime}}</td>
        <td ng-show="admin" data-title="'Auth Expire'">{{user.authExpire}}</td>
        <td ng-show="admin" data-title="'Role'">{{(user.role == 0) ? "Standard" : (user.role == 1) ? "System Admin" : "Game Admin"}}</td>
    </tr>
    </tbody>
</table>