<div ng-if="ownProfile && justPaid" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Thanks!</strong> You have successfully paid for registration.
</div>
<div ng-if="ownProfile && alreadyPaid" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>You've already paid for registration!</strong> No need to give us more money!
</div>
<div ng-if="passwordSuccess" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Password successfully changed.
</div>
<h1>{{user.alias}}<img style="margin-left:35%;" ng-hide="user != undefined" src="/img/loading-cylon-red.svg" width="256" height="32" alt="Loading..."/><br/>
    <small>User Profile</small>
</h1>
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-12" ng-if="!ownProfile && !admin">
                <div class="lead">
                    <fieldset>
                        <legend>User Information</legend>
                        <div class="form-group">
                            <label class="control-label">Alias:</label>
                            <a>{{user.alias || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">LoL Tag:</label>
                            <a>{{user.lol || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">BN:</label>
                            <a>{{user.bn || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Xbox Tag:</label>
                            <a>{{user.xbox || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">IGN Tag:</label>
                            <a>{{user.ign || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Steam Id:</label>
                            <a>{{user.steam || 'Not Set' }}</a>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-12 col-sm-12" ng-if="ownProfile || admin">
                <div class="lead">
                    <fieldset>
                        <legend>User Information</legend>
                        <div class="form-group">
                            <label class="control-label">Alias:</label>
                            <a editable-text="user.alias" onbeforesave="updateUser('alias',$data)" e-maxlength="20">{{user.alias || 'Not Set'
                                }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">LoL Tag:</label>
                            <a editable-text="user.lol" onbeforesave="updateUser('lol',$data)" e-maxlength="20">{{user.lol || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">BN:</label>
                            <a editable-text="user.bn" onbeforesave="updateUser('bn',$data)" e-maxlength="20">{{user.bn || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Xbox Tag:</label>
                            <a editable-text="user.xbox" onbeforesave="updateUser('xbox',$data)" e-maxlength="20">{{user.xbox || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">IGN Tag:</label>
                            <a editable-text="user.ign" onbeforesave="updateUser('ign',$data)" e-maxlength="20">{{user.ign || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Steam Id:</label>
                            <a editable-text="user.steam" onbeforesave="updateUser('steam',$data)" e-maxlength="20">{{user.steam || 'Not Set'
                                }}</a>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-12 col-sm-12" ng-if="admin">
                <div class="lead">
                    <fieldset>
                        <legend>Admin Information</legend>
                        <div class="form-group">
                            <label class="control-label">Role:</label>
                            <a>{{(user.role == 0) ? "Standard" : (user.role == 1) ? "System Admin" : "Game Admin"}}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Auth Token:</label>
                            <a>{{user.authtoken || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Auth Expiration:</label>
                            <a>{{user.authExpire || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Reset Token:</label>
                            <a>{{user.resetToken || 'Not Set' }}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Login Attempts:</label>
                            <a>{{user.attempt}}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Locktime:</label>
                            <a>{{user.locktime || 'Not Set' }}</a>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="lead">
                    <fieldset>
                        <legend>Team Membership</legend>
                        <p style="font-size:14px;" ng-if="user.captainList.length == 0 && user.memberList.length == 0  && ownProfile">
                            You have not joined any teams! You can browse <a ui-sref="teams">Teams</a> to find friends to play with.
                        </p>
                        <h3 ng-if="user.captainList.length != 0">Captain</h3>
                        <ul>
                            <li ng-repeat="membership in user.captainList">
                                <a ui-sref="team({teamId: membership.ID})">{{membership.name}}</a>
                            </li>
                        </ul>
                        <h3 ng-if="user.memberList.length != 0">Member</h3>
                        <ul>
                            <li ng-repeat="membership in user.memberList">
                                <a ui-sref="team({teamId: membership.ID})">{{membership.name}}</a>
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="lead">
                    <fieldset>
                        <legend>Tournament Participation</legend>
                        <p style="font-size:14px;" ng-if="user.tournaments.length == 0 && ownProfile">
                            You are not participating in any tournaments.
                        </p>
                        <ul>
                            <li ng-repeat="tour in user.tournaments">
                                <a ui-sref="tourDetail({gameId: tour.jsonName, tourId: tour.Id})">{{tour.Game}} {{tour.Name}}</a>
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
            <div ng-if="ownProfile || admin"  class="col-md-12 col-sm-12 col-xs-12">
                <div class="lead">
                    <fieldset>
                        <legend>Account Information</legend>
                        <div class="form-group">
                            <label class="control-label">Email:</label>
                            <a>{{user.email}}</a>
                        </div>
                        <div class="form-group" ng-if="!admin">
                            <label class="control-label">Paid :</label>
                            <a>{{user.paid == 1 ? 'Yes' : 'No' }}</a> <button ng-if="user.paid == 0 && ownProfile" type="button" ng-click="openPay()" class="btn btn-info">Pay Now!</button>
                        </div>
                        <div class="form-group" ng-if="admin">
                            <label class="control-label">Paid :</label>
                            <a href="#" editable-select="user.paid" e-ng-options="s.value as s.text for s in paid" onbeforesave="updateUser('paid',$data)">
                                {{ showPaid() }}
                            </a>
                        </div>
                        <div class="form-group" ng-if="admin">
                            <label class="control-label">Entered:</label>
                            <a href="#" editable-select="user.entered" e-ng-options="s.value as s.text for s in entered" onbeforesave="updateUser('entered',$data)">
                                {{ showEntered() }}
                            </a>
                        </div>
                        <div class="form-group">
                            <a ng-show="ownProfile || admin" ng-click="showPassword = true">Change Password</a>
                        </div>
                        <form name="passwordChangeForm" ng-show="showPassword" ng-submit="passwordChangeForm.$valid && submitPasswordChange()">
                        <div ng-hide="admin" class="form-group">
                            <label class="control-label">Current Password:</label>
                            <input type="Password" id="oldPassword" ng-model="formData.oldPassword" class="form-control" placeholder="Old Password" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">New Password:</label>
                            <input type="Password" id="newPassword" ng-model="formData.newPassword" class="form-control" placeholder="New Password" required/>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirm New Password:</label>
                            <input type="Password" id="passwordConfirm" ng-model="formData.passwordConfirm" password-match="formData.newPassword" class="form-control" placeholder="Confirm Password" required/>
                        </div>
                            <button type="submit" style="float:right;" class="btn btn-primary">Change Password</button>
                        </form>
                    </fieldset>
                </div>
                <button type="button" class="btn btn-danger" ng-click="deleteUser(user.id)">Delete Account</button>
            </div>
        </div>
    </div>
</div>