<div ng-if="ownProfile && (user.paid == 0)" class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Yo!</strong> Your entry fee has not been paid yet. Complete registration by paying now. <button ng-if="user.paid == 0" type="button" ng-click="openPay()" class="btn btn-info">Pay Now!</button>
</div>
<div ng-if="ownProfile && justPaid" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Thanks!</strong> You have successfully paid for registration.
</div>
<div ng-if="ownProfile && alreadyPaid" class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>You've already paid for registration!</strong> No need to give us more money!
</div>
<h1>{{user.alias}}<br/>
    <small>User Profile</small>
</h1>
<div class="row">
    <div class="col-md-8 col-sm-12" ng-if="ownProfile">
        <div class="lead">
            <fieldset>
                <legend>User Information</legend>
                <div class="form-group">
                    <label class="control-label">Alias:</label>
                    <a editable-text="user.alias" onbeforesave="updateUser('alias',$data)">{{user.alias || 'Not Set'
                        }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">LoL Tag:</label>
                    <a editable-text="user.lol" onbeforesave="updateUser('lol',$data)">{{user.lol || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">BN:</label>
                    <a editable-text="user.bn" onbeforesave="updateUser('bn',$data)">{{user.bn || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">Xbox Tag:</label>
                    <a editable-text="user.xbox" onbeforesave="updateUser('xbox',$data)">{{user.xbox || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">IGN Tag:</label>
                    <a editable-text="user.ign" onbeforesave="updateUser('ign',$data)">{{user.ign || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">Steam Id:</label>
                    <a editable-text="user.steam" onbeforesave="updateUser('steam',$data)">{{user.steam || 'Not Set'
                        }}</a>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-md-8 col-sm-12" ng-if="!ownProfile">
        <div class="lead">
            <fieldset>
                <legend>User Information</legend>
                <div class="form-group">
                    <label class="control-label">Alias:</label>
                    <a>{{user.alias || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">LoL Tag:</label>
                    <a>{{user.lol || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">BN:</label>
                    <a>{{user.bn || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">Xbox Tag:</label>
                    <a>{{user.xbox || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">IGN Tag:</label>
                    <a>{{user.ign || 'Not Set' }}</a>
                </div>
                <div class="form-group">
                    <label class="control-label">Steam Id:</label>
                    <a>{{user.steam || 'Not Set' }}</a>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-md-4 col-sm-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="lead">
                    <fieldset>
                        <legend>Team Membership</legend>
                        <p style="font-size:14px;" ng-if="user.captainList.length == 0 && user.memberList.length == 0  && ownProfile">
                            You have not joined any teams! You can browse <a ui-sref="teams">Teams</a> to find friends to play with.
                        </p>
                        <h3 ng-if="user.captainList.length != 0">Captain</h3>
                        <ul>
                            <li ng-repeat="membership in user.captainList">
                                <a ui-sref="team({teamId: membership.ID})">{{membership.name}}</a>
                            </li>
                        </ul>
                        <h3 ng-if="user.memberList.length != 0">Member</h3>
                        <ul>
                            <li ng-repeat="membership in user.memberList">
                                <a ui-sref="team({teamId: membership.ID})">{{membership.name}}</a>
                            </li>
                        </ul>
                    </fieldset>
                </div>
            </div>
            <div ng-if="ownProfile"  class="col-md-12 col-sm-12 col-xs-12">
                <div class="lead">
                    <fieldset>
                        <legend>Account Information</legend>
                        <div class="form-group">
                            <label class="control-label">Email:</label>
                            <a>{{user.email}}</a>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Paid :</label>
                            <a>{{user.paid == 1 ? 'Yes' : 'No' }}</a> <button ng-if="user.paid == 0" type="button" ng-click="openPay()" class="btn btn-info">Pay Now!</button>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</div>