<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">Gamefest</a>
        </div>
        <div class="navbar-collapse collapse" id="main-menu">
            <ul class="nav navbar-nav" id="main-menu-left">
                <li><a ui-sref="schedule">Schedule</a></li>
                <li><a ui-sref="games">Games</a></li>
                <li><a ui-sref="servers">Servers</a></li>
                <li><a href="http://streams.gtgamefest.com">Streams</a></li>
                <li ng-if="isLoggedIn"><a ui-sref="users"><strong>Users</strong></a></li>
                <li ng-if="isLoggedIn"><a ui-sref="teams"><strong>Teams</strong></a></li>
                <li><a ui-sref="about">About Us</a></li>
            </ul>
            <ul ng-if="!isLoggedIn" class="nav navbar-nav navbar-right" id="main-menu-right">
                <li><a ng-click="openRegistration()">Register</a></li>
                <li><a ng-click="openLogin()">Login</a></li>
            </ul>
            <ul ng-if="isLoggedIn" class="nav navbar-nav navbar-right" id="main-menu-right-login">
                <li>
                    <button style="padding:5px; margin:10px;" type="button" class="btn btn-sm btn-danger"
                            ng-if="userService.getProfile().role != 0"
                            ng-click="userService.adminMode(!userService.adminMode());">{{userService.adminMode() ?
                        "Admin Mode ON" : "Admin Mode OFF"}}
                    </button>
                </li>
                <li><a ui-sref="profile">{{alias}}</a></li>
                <li><a ng-click="logoff()">Log Off</a></li>
            </ul>
        </div>
    </div>
</div>
<div ng-if="siteError != undefined && siteError != null" style="margin-top:60px;" class="alert alert-danger alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>{{siteError}}</strong>
</div>
<div ng-if="isLoggedIn && !userService.getProfile().paid && !dismissPaid"
     class="payReminder alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <!--ng-click="dismissPaid = true"-->
    <strong>Hey! Listen!</strong><span style="margin-left:15px; font-size:18px;"
                                       class="glyphicon glyphicon-info-sign"></span>
    <span class="fulltext">
       Your entry fee has not been paid yet. Complete registration by paying now. <button type="button"
                                                                                          ng-click="openPay()"
                                                                                          class="btn btn-info">Pay Now!
    </button>
    </span>
</div>
<div class="contentPane container" style="position:relative;">
    <div ui-view autoscroll='false'></div> <!-- class="animate-fade" Decided against, it messes with repeat animations and make the footer unsticky. -->
</div>
<div class="footer" style="padding-top:2em">
    <div class="container">
        <p class="text-center">&copy; 2013 Georgia Tech eSports. All rights reserved. All trademarks are property of
            their respective owners in the US and other countries. <br>
            <a href="http://steamcommunity.com/groups/gtgamefest" target="_blank"><img
                    src="img/icons/steamicon.png"/></a>
            <a href="https://www.facebook.com/gtgamefest" target="_blank"><img src="img/icons/faceicon.png"/></a>
        </p>
        <p class="text-center"><a href="http://matthewfoxx.com">Website By Matthew Foxx</a></p>
    </div>
</div>