<div class="headerWrapper">
    <div class="cbp-af-header cbp-hsmenu-wrapper" ng-class="{'globalHeader': eventCtrl == undefined }" id="cbp-hsmenu-wrapper">
        <div class="cbp-af-inner">
            <h1>{{headerName}}</h1>
            <nav>
                <ul class="cbp-hsmenu">
                    <!-- Event Header Links -->
                    <li ng-if="eventCtrl != undefined"><a class="topLink">Schedule</a></li>
                    <li ng-show="eventCtrl != undefined"><a class="topLink">Tournaments</a>
                        <ul ng-if="eventCtrl.tourneyNames != undefined" class="cbp-hssubmenu cbp-hssub-rows">
                            <li ng-repeat="t in eventCtrl.tourneyNames">
                                <a href="#"><img ng-src="images/{{$index+1}}.png"/><span>{{t}}</span></a>
                            </li>
                        </ul>
                    </li>
                    <li ng-show="eventCtrl != undefined"><a class="topLink">Games</a>
                        <ul ng-if="eventCtrl.tourneyNames != undefined" class="cbp-hssubmenu cbp-hssub-rows">
                            <li ng-repeat="t in eventCtrl.tourneyNames">
                                <a href="#"><img ng-src="images/{{$index+1}}.png"/><span>{{t}}</span></a>
                            </li>
                        </ul></li>
                    <!-- End Event Header Links -->
                    <!-- Global Header Links -->
                    <li ng-if="globalCtrl != undefined"><a ui-sref="globalSkeleton.events" ui-sref-active="active" class="topLink">Events</a></li>
                    <li ng-if="globalCtrl != undefined"><a class="topLink">Tournaments</a></li>
                    <li ng-if="globalCtrl != undefined"><a class="topLink">Friends</a></li>
                    <!-- End Global Header Links -->
                    <li ng-show="cncCtrl.account.isLoggedIn()"><a class="topLink">Users</a></li>
                    <li ng-show="cncCtrl.account.isLoggedIn() && eventCtrl == undefined"><a ui-sref="globalSkeleton.teams" ui-sref-active="active" class="topLink">Teams</a></li>
                    <li ng-show="cncCtrl.account.isLoggedIn() && eventCtrl != undefined"><a ui-sref="eventSkeleton.teams" ui-sref-active="active" class="topLink">Teams</a></li>
                    <li><a class="topLink">About</a></li>
                    <li ng-hide="cncCtrl.account.isLoggedIn()" ng-click="openRegister()"><a class="topLink">Register</a></li>
                    <li ng-hide="cncCtrl.account.isLoggedIn()"><a ng-click="openLogin()" class="topLink">Login</a></li>
                    <li ng-show="cncCtrl.account.isLoggedIn()" ng-click="cncCtrl.account.logout()"><a class="topLink">Logout</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>