<div class="st-menu st-effect-2">
    <div id="menu-2">
        <a ui-sref="globalSkeleton.portal">
        <h3 class="text-muted">Gamefest<br/>
        <small>Ze Platform</small>
        </h3>
        </a>
        <ul>
            <li><a ng-show="sidebar.account.isLoggedIn()"><i class="fa fa-arrow-left fa-fw">Friends</i></a></li>
            <li><a ui-sref="settings"><i class="fa fa-gears fa-fw"></i>Settings</a></li>
            <li><a ui-sref="about"><i class="fa fa-question fa-fw"></i>About</a></li>
            <li><a ng-show="sidebar.account.isLoggedIn()" ng-click="sidebar.account.logout()">Logout</a></li>
            <li><a ng-click="sidebar.loginVisible = !sidebar.loginVisible" ng-hide="sidebar.account.isLoggedIn()">
                <i class="fa fa-arrow-right fa-fw"></i>Login</a>

                <div ng-show="sidebar.loginVisible && !sidebar.account.isLoggedIn()" class="subsection">
                    <login></login>
                </div>
            </li>
            <li><a ng-hide="sidebar.account.isLoggedIn()" ng-click="sidebar.registerVisible = !sidebar.registerVisible"><i class="fa fa-pencil-square-o fa-fw"></i>Register</a>

                <div ng-show="sidebar.registerVisible && !sidebar.account.isLoggedIn()" class="subsection register">
                    <register></register>
                </div>
            </li>
        </ul>
    </div>
</div>