<div class="st-menu st-effect-2">
    <div id="menu-2">
        <h3 class="text-muted">Simple Registry</h3>
        <ul>
            <li><a ui-sref="login"><i class="fa fa-arrow-right fa-fw"></i>&nbsp; Login</a></li>
            <li><a ui-sref="signup"><i class="fa fa-pencil-square-o fa-fw"></i>&nbsp; Sign up</a></li>
            <li><a href="#"><i class="fa fa-arrow-left fa-fw"></i>&nbsp; Logout</a></li>
            <li><a ui-sref="settings"><i class="fa fa-gears fa-fw"></i>&nbsp; Settings</a></li>
            <li><a ui-sref="about"><i class="fa fa-question fa-fw"></i>&nbsp;About</a></li>
        </ul>
        <div style="position:relative">
            <!--<div class="navPanePanel" ui-view></div>-->
        </div>
    </div>
</div>