<h1>Check out our teams</h1>
<!--
<table st-table="rowCollection" class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Games Played</th>
        <th># of Players</th>
        <th>Roster Status</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in teamCtrl.rowCollection">
        <td>{{row.name}}</td>
        <td>{{row.games}}</td>
        <td>{{row.teamPlayers}}</td>
        <td>&lt;!&ndash;{{row.balance}}&ndash;&gt;Open</td>
    </tr>
    </tbody>
</table>-->
